@import "../common/variable";
@import "../common/maxin";

$pcSpriteUrl: url('../img/pc-sprite.png');
$pcSpritePos:
	(0 0) (-40px 0) (-80px 0) (0 -40px) (-10px -40px)
	(-30px -40px) (-50px -40px) (-70px -40px) (-90px -40px) (-100px -40px)
	(-110px -40px) (0 -70px) (0 -130px) (-50px -130px) (-100px -130px)
	(0 -180px) (-50px -180px) (-100px -180px) (0 -230px) (-20px -230px)
	(-40px -230px) (-50px -230px) (-60px -230px) (-70px -230px) (0 -250px)

	(-40px -250px) (-80px -250px) (-120px -250px) (-160px -250px) (-200px -250px)
	(-130px -40px) (-150px -40px) (-120px 0) (-160px 0) (-200px 0)
	(-240px 0) (-170px -40px) (-270px -40px) (0 -290px) (-50px -290px)
	(-80px -230px) (-100px -230px); 
@mixin pcSprite($position: 1, $width: 20px, $height: 20px, $display: inline-block){
	display: $display;
	width: $width;
    height: $height;
    background-image: $pcSpriteUrl;
    background-position: nth($pcSpritePos, $position);
}

body{
	background-color: $lbgy;
}


.findPassword-wrap{
	width: 1208px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	border: 1px solid $line;
	background-color: $bw;
	padding-top: 95px;
	margin: 30px auto 100px;
	min-height: 413px;
}

.fp-steps-box{
	padding-bottom: 20px;
	border-bottom: 1px solid $line;
	overflow: hidden;
	width: 750px;
	margin: 0 auto 50px;
	li{
		float: left;
		width: 180px;
		font-size: 16px;
		text-align: center;
		position: relative;
		color: $lwgy;
		&.active{
			color: $blue;
			.icon{
				background-position: nth($pcSpritePos, 32);
			}
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
		&:before{
			content: " ";
			top: 2px;
			left: -5px;
			position: absolute;
			@include pcSprite(4, 10px, 16px);
		}
		.icon{
			@include pcSprite(37, 20px, 20px);
			text-align: center;
			line-height: 20px;
			color: $bw;
			margin-right: 10px;
		}
	}
}

.fp-tab{
	overflow: hidden;
	position: relative;
	padding-left: 360px;
	margin: 0 0 30px 350px;
	min-height: 24px;
	&.sbce-tab{
		margin-left: 267px;
		padding-left: 360px;
	}
	li{
		float: left;
		cursor: pointer;
		margin-left: 20px;
		font-size: 12px;
		color: $lwgy;
		padding: 5px;
		span{
			margin-left: 15px;
			display: none;
		}
		i{
			display: inline;
		}
		&:first-child{
			margin-left: 5px;
		}
		&:hover{
			color: $blue;
		}
		&.active{
			cursor: default;
			width: 350px;
			padding-top: 0;
			font-size: 16px;
			color: $mwgy;
			position: absolute;
			left: 0;
			span{
				display: inline;
			}
			i{
				display: none;
			}
			&:hover{
				color: $mwgy;
			}
		}
	}
}


.fp-form{
	
	li{
		margin-bottom: 20px;
	}
	.fp-title{
		color: $mwgy;
		width: 455px;
		font-size: 16px;
		display: inline-block;
		text-align: right;
		margin-right: 10px;
		em{
			color: $pomelo;
		}
	}

	.fp-text{
		margin-right: 10px;
		width: 178px;
		line-height: 32px;
		height: 32px;
		border: 1px solid $mbgy;
		background-color: $bw;
		padding: 0 10px;
		color: $mwgy;
		font-size: 14px;
	}

	.fp-string{
		font-size: 14px;
		color: $dwgy;
		display: inline-block;
		padding: 0 11px;
	}

	.btn-primary{
		width: 200px;
		margin-left: 465px;
		font-size: 16px;
		padding-top: 4px;
		padding-bottom: 4px;
		color: $bw;
		border-color: $blue;
		background-color: $blue;
	}

	img{
		margin-right: 20px;
		vertical-align: top;
		height: 34px;
		width: 94px;
	}

	.btn-default{
		vertical-align: top;
		color: $mwgy;
		border-color: $dbgy;
	}

	.fp-warning{
		color: $pomelo;
		margin-left: 10px;
	}

	.fp-label{
		color: $mwgy;
	}

	a{
		@include links($blue, $pomelo);
	}
}

.fp-success-box{
	padding: 100px;
	text-align: center;
	p{
		font-size: 16px; 
		color: $mwgy;
		&:before{
			content: " ";
			vertical-align: middle;
			margin-right: 20px;
			@include pcSprite(33, 40px, 40px);
			margin-right: 20px;
		}
	}
}

.fp-fail-box{
	width: 750px;
	padding-top: 25px;
	margin: 0 auto;
	.fpf-line1{
		position: relative;
		margin: 0 0 60px 198px;
		font-size: 16px;
		line-height: 1.5em;
		color: $dwgy;
		&:before{
			content: " ";
			top: 5px;
			left: -60px;
			@include pcSprite(34, 40px, 40px, block);
			position: absolute;
		}
	}
	.fpf-line2{
		padding: 30px 0;
		background-color: $lbgy;
		text-align: center;
		color: $mwgy;
		span{
			color: $blue;
		}
		.btn-primary{
			padding: 4px 20px;
		}
	}
}


.fp-tips{
	font-size: 16px;
	line-height: 1.5em;
	color: $mwgy;
	text-indent: -35px;
	margin: 0 0 30px 465px;
	&:before{
		content: " ";
		vertical-align: middle;
		margin-right: 10px;
		@include pcSprite(38, 25px, 25px);
	}
}

.fp-tab,
.fp-queryUser,
.fp-checkIDByPhone,
.fp-getEmailCode,
.fp-checkIDByEmail,
.fp-updatePassword,
.fp-fail-box,
.fp-tips,
.fp-success-box{
	display: none;
	&.active{
		display: block;
	}
}

.fp-queryUser{
	padding-top: 20px;
}
