@import "../common/variable";
@import "../common/maxin";

.servicemail-wrapper{
	padding: 0 0 100px;
	background-color: $lbgy;
	.servicemail-inner{
		background-color: $bw;
		width: $w1;
		margin: 0 auto;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
		.servicemail-content{
			margin: 0 auto;
			width: 310px;
			padding: 100px 0;
			.title{
				text-align: center;
				h1{
					color: $dbgy;
					font-size: 30px;
					padding-bottom: 40px;
				}
			}
			.content{
				.mail{
					padding-bottom: 20px;
					font-size: 0;
					.icon,
					.mailaddress{
						display: inline-block;
						*display: inline;
						*zoom: 1;

					}

					.icon{
						padding-right: 5px;
					}

					.mailaddress{
						font-size: 30px;
						font-weight: bold;
						color: $blue;
					}
				}
				.info{
					padding-bottom: 30px;
					color: $lwgy;
					line-height: 1.7em;
				}
				.return{
					width: 230px;
					margin: 0 auto;
					cursor: pointer;
					a{
						padding: 10px 0;
						display: block;
						text-align: center;
						background-color: $lbgy; 
						font-size: 16px;
						color: $mwgy;
						border: 1px solid $line;
						border-radius: 2px;

						&:hover{
							background-color: $blue; 
							color: white;
							border: 1px solid $blue;
							border-radius: 2px;
						}
					}
				}
			}
		}
	}
}

body>.links{
	background-color: $bw;
}