
/*
*sp item
*/

/*
add price
*/
.sphome-list{

  .list{

    > li {

      // Override spCard styles
      padding: 25px 19px;

      .brand{
        // Force strech image width and height
        img {
          width: 240px;
          height: 155px;
        }
      }

      .price{
        margin-top:10px;
        position:relative;
        padding:19px 0 0 7px;
        border-top:1px solid $line;
        color:$mwgy;

        .service-name{
          display: inline-block;
          max-width: 130px;
          @include ellipsis;
        }

        .pricing{
          position:absolute;
          bottom:-3px;
          right:3px;
          color:$pomelo;
          font-weight:700;
          font-size:24px;          

          em{
            font-size:14px;
          }
        }
      }
      .sp-btn{
        border-top: 0;
        margin-top:0;
      }
    }
  }
}

.sphome-content{
  .package{

    .title-img{
      img {
        width: 278px;
        height: 119px;
      }
    }

    ul{
      padding:20px 0 7px;
    }
    li{
      position:relative;
      padding:0 0 21px 59px;

      > a {
        display: block;
        text-decoration: none;
        color: inherit;

        &:hover{
          h3 {
            color: $blue;
          }
        }
      }
    }
    .pic{
      position:absolute;
      left:0;
      top:0;
      img{
        vertical-align: top;
      }
      span{
        display: block;
        width:50px;
        height:20px;
        line-height:20px;
        background-color:$pomelo;
        text-align:center;
        font-size:12px;
        color:$bw;
      }
    }
    h3{
      padding-bottom:8px;
      color:$dwgy;
    }
    .des{
      padding-bottom:10px;
      font-size:12px;
      color:$lwgy;
    }
    .price{
      color:$pomelo;
    }
  }

}
.warm-tips{
        color:$lwgy;
        font-size:20px;
        text-align:center;
      }