$ffa: 	"Microsoft YaHei", verdana, Arial, sans-serif; 
$fft: 	"simsun" verdana Arial, sans-serif;	
$ffn: 	Arial, sans-serif;	
$mg: 	20px;	
$w1: 	1210px;	
$w2: 	170px;
$w3: 	210px;
$w4: 	240px;
$w5: 	280px;
$w6: 	370px;
$w7: 	570px;
$w8: 	640px;
$w9: 	930px;
$w10: 	1000px;
$w11: 	1040px;

$blue:  #047bce;
$lblue: #4fa2dd;		// light blue
$lerblue: #96c3e3;  // lighter blue
$lstblue: #e5f0f8;  // lightest blue

$dbl: 	#0064C8;	
$mbl: 	#0078D2;	
$lbl: 	#008CDC;	

$red: 	#FF6633;
$orange:#ef580e;

$pomelo:#f06d54;
$dpomelo:#da5238;
$lpomelo:#f6907c;	

$green: #7abb55;		// green
$dgreen: #5ca234;		// dark green
$lgreen: #c4e6b1;		// light green

$dwgy: 	#313131;	
$mwgy: 	#666666;
$lwgy:	#969696;	
$line: 	#EBEBEB;	
$dbgy: 	#bcbcbc;	
$mbgy: 	#d3d3d3;
$lbgy: 	#f9f9f9;

$bw:	#FFFFFF;	

// global box-shadow
$gbboxShadow: 0 1px 2px rgba(0,0,0,0.05);

//compatible 2.0 variable
$mfs: 14px;
$sfs: 12px;
$xsfs: 10px;
$lfs: 16px;
$xlfs: 18px;
$lgray: #9e9e9e;
$mgray: #666666;
$dgray: #313131;
$linegray: #dddddd;
$lblue: #1153a7;
$mred: #db281f;
$morange: #f36d00;
$lorange: #eb9000;
$mgreen: #629500;
$linkColor: #08c #333 #08c;